---
layout: default
title: About
description: "懒鬼"
multilingual: true
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}"
    data-theme="{{ site.theme-color }}">
    <h2>ABOUT</h2>
</div>

<main class="g-container home-content">
    <div style="margin: 0 auto; float:left; width:695px; height: 700px; padding: 30px 20px; background-color: #fff; border: 1px solid #e7eaf1; border-radius: 3px; box-sizing: border-box; box-shadow: 0 1px 3px rgba(0,37,55,.06);">
        {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
        {{ about_zh | markdownify }}
    </div>
    
    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar">
            <section class="author-card">
                <div class="avatar">
                    <img src="{{ site.avatar | relative_url }}" alt="">
                </div>
                <div class="author-name" rel="author">{{ site.author }}</div>
                <div class="bio">
                    <p>{{ site.bio }}</p>
                </div>
                {% if site.sns.size > 0 %}
                <ul id="sns-links" class="sns-links">
                    {% for s in site.sns %}
                    <li>
                        <a href="{{ s[1] }}" target="_blank">
                            <i class="iconfont icon-{{ s[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>

            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                {% for tag in site.tags %}
                {% if forloop.index > site.recommend-condition-size %}
                {% break %}
                {% endif %}
                <a href="{{ "tags.html#" | append: tag[0] | relative_url }}" class="tag">{{ tag[0]}}</a>
                {% endfor %}
            </section>
            {% endif %}
        </div>

        {% if site.search %}
        <div class="search-card">
            <input id="search_input" type="text" placeholder="Search..." autocomplete="off">
            <i class="iconfont icon-search"></i>
            <div class="search_result"></div>
        </div>
        {% endif %}

    </aside>

</main>

{% include footer.html %}